.DS_Store
.com.greenworldsoft.syncfolderspro
node_modules/
public/
quartz/.quartz-cache/
tsconfig.tsbuildinfo


.obsidian/workspace.json
.obsidian/cache/
.obsidian/plugins/
.obsidian/snippets/
.obsidian/themes/
.trash/
