/* Updated 2023-11-02 */

.dashboard {
  font-family: inherit;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 20px !important;
}

.dashboard .markdown-preview-section {
  max-width: 100%;
}

/* Title at top of the document */
.dashboard .markdown-preview-section .title {
  top: 60px;
  position: absolute;
  font-size: 26pt !important;
  font-weight: bolder;
  letter-spacing: 8px;
}

.dashboard h1 {
  border-bottom-style: dotted !important;
  border-width: 1px !important;
  padding-bottom: 3px !important;
}


/* Get rid of the parent bullet */
.dashboard div.markdown-preview-section > div > ul > li > div.list-bullet {
  display: none !important;
}

/* Remove the indentation guide lines */
.dashboard.markdown-rendered.show-indentation-guide li > ul::before,
.dashboard.markdown-rendered.show-indentation-guide li > ol::before {
display: none;
}

div.markdown-preview-section > div > ul.has-list-bullet > li {
  padding-left: 0p !important;
}

.dashboard div > ul {
  list-style: none;
  display: flex;
  column-gap: 50px;
  flex-flow: row wrap;
}

.dashboard div > ul > li {
  min-width: 250px;
  width: 15%;
}

/* Dataview support */
.dashboard ul.dataview {
  row-gap: 0px !important;
  list-style-type: disc !important;
}

/* hide properties view in reading view/mode */
body {
  --metadata-display-reading: none; 
}

.theme-light .workspace {
    backdrop-filter: brightness(1) blur(5px); /* filter for light mode */
    background-color: transparent;
}
.theme-dark .workspace {
    backdrop-filter: brightness(0.2) blur(5px); /* filter for dark mode */
    background-color: transparent;
}
.horizontal-main-container { /* below is the background image. Change it to whatever you want */
    background: url(https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80);
    background-size: cover;
}
.workspace-split.mod-root {
    background-color: var(--background-primary);
}

body { 
/* the background-primary makes the main note pane completely transparent. 
You can change it to be semi-transparent if you want. 
I changed background-secondary and divider-width because it
looks a bit cleaner in my opinion. You can delete those modifications if you want.*/
    --background-primary: transparent;
    --background-secondary: transparent;
    --divider-width: 0px;
}