/*
author: sailKite
source: https://discord.com/channels/686053708261228577/707816848615407697/1154034583478751282
*/

.markdown-rendered pre {
  border-left: solid;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  border-left: solid;
}