@use "./base.scss";

@media (max-width: 800px) {
  .page #quartz-body .sidebar.left,
  .page #quartz-body .sidebar.left:has(.explorer) {
    box-sizing: border-box !important;
    width: calc(100% + 2rem) !important;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .page #quartz-body .sidebar.left .explorer-content {
    width: fit-content !important;
    max-width: calc(100% - 1.5rem) !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    box-sizing: border-box;
  }
}
